<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
{% load staticfiles widget_tweaks %}
<html>
<head>
    <meta charset="utf-8">
    <title>DOOIT | Social Selling Platform</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google fonts - which you want to use - (rest you can just remove) -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/animate.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/prettyPhoto.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/owl.carousel.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/shuffle-styles.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/responsive-tabs/easy-responsive-tabs.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" />
</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade ybrowser</a> to improve your experience.</p>
    <![endif]-->

    <!-- LOGO -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="row">
                <div class="col-xs-6">
                    <a class="page-scroll" href="/">
                        <img src="{% static 'main/img/dooit.jpg' %}" width="120px" alt="">
                    </a>
                </div>
                <div class="col-xs-6">
                    {% block login %}{% endblock %}
                </div>
                
            </div>
            </div>
        </nav>
    
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="Login">{% if request.user.is_authenticated %}Բարև {{ request.user.username }}!{% else %}Գրանցվել{% endif %}</h4>
                </div>
                <div class="modal-body">
                    {% if request.user.is_authenticated %}
                        
                        
                        <p class="text-center"><a class="center-block" href="{% url "logout" %}">Դուրս գալ</a></p>
                    {% else %}
                        
                        <form action="{% url "signup" %}" method="post">
                            
                            {% csrf_token %}
            
                            {% for hidden in loginform.hidden_fields %}
                               {{hidden}}
                            {% endfor %}
                            {% for vis in loginform.visible_fields %}
                                <div class="form-group">
                                    {{ vis.label_tag }}{{ vis.errors }}
                                    {% render_field vis class="form-control" %}
                                </div>
                            {% endfor %}
                            <input type="hidden" value="from_popup" name="from_popup" />
                            <p class="text-center">
                                <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Մտնել</button>
                            </p>

                        </form>
                        
                        <p class="text-center text-muted">Դեռ գրանցված չեք?</p>
                        <p class="text-center text-muted"><a href="{% url "signup" %}"><strong>Գրանցվեք հիմա</a>
                            </strong>! Դա շատ արագ է և այնուհետ կարող եք ապրանքներ ավելացնել։</p>
                    {% endif %}
                    

                </div>
            </div>
        </div>
    </div>

    <!-- END LOGO -->    
{% block message %}<!--make this overlay-->
        <div class="col-sm-6 overlay">
            {% if messages %}
            <div class="messages">
            {% for message in messages %}
            <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert" data-toggle="modal">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            </div>
            {% endif %}    
        </div>
    {% endblock %}
{% block content %}
    <!-- HOME -->
    
    <div id="home-area" class="container">
    
        <h3 id="motto">Գնի՜ր ու վաճառի՜ր՝<br/> կատարելով բարեգործություն</h3>
        <ul>
            <li><a class="btn btn-default" {% if not request.user.is_authenticated %}data-toggle="modal" data-target="#login-modal"{% else %}href="{% url 'profile' %}"{% endif %}>
                Ավելացնել Իր
            </a></li>
            <li><button id="added" class="btn">Ավելացված Իրեր</button></li>
            <li><button id="about" class="btn">Գաղափարի Մասին</button></li>
        </ul>
    </div>
    <!-- END HOME -->
    <section class="section" id="sectionadded">
        {% block display %}{% endblock %}
    </section>
    <section id="add_now">
        
    </section class="section">
    <section class="section" id="sectionabout">
        <div class="container">
            <div class="text-center">
                <h2 class="section-title">Գաղափարի մասին</h2>
            </div>
            <h5>Այստեղ գրվելու է dooit-ի մասին, տեքստը կարող է լինել երկար կամ կարճ, կարող են լինել նկարներ և հղումներ։) Այստեղ գրվելու է dooit-ի մասին, տեքստը կարող է լինել երկար կամ կարճ, կարող են լինել նկարներ և հղումներ։) Այստեղ գրվելու է dooit-ի մասին, տեքստը կարող է լինել երկար կամ կարճ, կարող են լինել նկարներ և հղումներ։)</h5> <img src="http://placehold.it/150x150">
        </div>
    </section>
    
    
{% endblock %}
    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">

                

                <!-- FOOTER CONTENT -->
                <div class="col-md-6">
                    <div class="footer-content text-right">
                        <p>&copy; 2016 All Rights Reserved, <a href="#">DOOIT</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="float: right">
                        <h5 id="contact">Կապ հաստատել թիմի հետ</h5>
                        <a rel="tooltip" target="_blank" href="https://www.facebook.com/dooit/" title="Facebook"><i class="fa fa-facebook-square"></i></a>
                        <a rel="tooltip" target="_blank" href="mailto:dooitarmenia@gmail.com" title="email us!"><i class="fa fa-envelope"></i></a>
                        
                    </div>
                </div>
                <!-- END FOOTER CONTENT -->

            </div>
            <!-- /.row -->
        </div>
        <!-- ./container -->
    </footer>
    <!-- END FOOTER -->

    <!-- js files -->
    <script src="{% static 'main/js/vendor/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'main/js/plugins.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    
    <script src="{% static 'main/js/wow.min.js' %}"></script>
    <script src="{% static 'main/js/prettyPhoto.js' %}"></script>
    <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
    
  
    <div class="modal fade" id="myModal" role="dialog">

        <div class="modal-dialog modal-dialog-wide">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="item-desc"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Փակել</button>
                    <button type="button" class="btn btn-primary del">Ջնջել</button>
                </div>
            </div>

        </div>
    </div>

</body>
</html>