{% extends "main/base.html" %}
{% load staticfiles %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}


    {% block display %}
        
       <div id="gri" class="container">
            <div class="text-center">
                <h2 class="section-title">Ավելացված իրեր</h2>
            </div>
            {% for item in items %}
                <!-- SINGLE SERVICE -->
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <figure>
                        <figcaption>{{ item.title }}</figcaption>
                        <img id="{{ item.id }}" src="{{ MEDIA_URL }}{{ item.featured_image }}" alt="{{ item.title }}" class="img-responsive thumbnail">
                        <div class="desc">
                            {{ item.description }}
                        </div>
                    </figure>
                </div>
            {% empty %}
                <p>
                    Ավելացված իրեր դեռ չկան։
                </p>
            {% endfor %}
            
        </div>

    {% endblock %}
        
    

{% block itemform %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
            {# Include the visible fields #}
        <table class="table">
        {% for field in form.visible_fields %}
            <tr cla>
                {{ field.errors }}
                <td>{{ field.label_tag }}<td>
                <td>{{ field }}</td>
            </tr>
        {% endfor %}
        </table>
        <div class="text-center">
            <button class="btn btn-primary">Ուղարկել</button>
        </div>
    </form>
{% endblock %}


{% block login %}
    {% if not request.user.is_authenticated %}
        <button type="button" class="show-menu btn btn-default navbar-btn login" data-toggle="modal"
                data-target="#login-modal"
                style="top: 0px;">
            <span>Մուտք գործել/գրանցվել</span>
        </button>
    {% else %}
        <div class="dropdown pull-right" style="right: 50px;">
            <button type="button" class="btn btn-default navbar-btn login  dropdown-toggle" data-toggle="dropdown"
                    style="top: 0px;">
            <span>Բարև {{ request.user.first_name }}!</span>
            </button>

            <ul class="dropdown-menu">
                <li><a href="{% url "profile" %}"><i class="fa fa-user"></i> Անձնական էջ</a></li>
                <li><a href="{% url "logout" %}"><i class="fa fa-sign-out"></i> Դուրս գալ</a></li>
            </ul>
        </div>

    {% endif %}
{% endblock %}
